<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.slin.authority.dao.MenuMapper">

    <!--  -->
    <select id="getAllMenu"  resultType="com.slin.authority.model.MenuBean">
      SELECT
          menu_id as menuId,
          name,
          path as url,
          permission,
          pid
       FROM  t_menu
    </select>



</mapper>